* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    text-align: right;
    padding: 20px;

}
img {
    display: block;
    margin: 0 auto;
}
.main-content {
    background-color: #af5555;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
.instructions{
    background-color: rgb(97, 184, 97);
    display: inline-block;
    padding: 20px;
}
.left {
    

}
.right {
    
}
