* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    text-align: right;
    padding: 20px;
}
nav a:hover {
    background-color: aqua;
}
img {
    display: block;
    margin: 0 auto;
}
.main-content {
    background-color: #af5555;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}
.instructions{
    display: block;
    margin-top: 20px;
    background-color: rgb(97, 184, 97);
    padding: 20px;
    

}
.left {
    margin-right: 100px;
    display: inline-block;
    
}
.right {
    display: inline-block;
}
.left ul {
    list-style-type: disc;
    margin-top: 5px;
}
